@use "../variables.scss" as v;
@use "../mixins.scss" as m;
.bookingtable {
  max-width: 600px;      // max bredd för tabellen
  width: 100%;           // full bredd inom max-width
  box-sizing: border-box; // för att paddings och border räknas in
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$primary-color;
    input,
    button {
      width: 25%;
      opacity: 56%;
      margin: 10px;
      padding: 10px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
    }
  }
  .table-container{
    overflow-x: auto;  
    overflow-y: auto;
    max-width: 100%;


  table {
    width: 100%;          
    border-collapse: collapse;
    font-size: 0.8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    thead {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    th,
    td {
      text-align: left;
      padding: 4px;
      border-bottom: 1px solid #ccc;
      max-width: 150px;      
      word-wrap: break-word;  
      overflow-wrap: break-word;
    }

    tbody tr:nth-child(odd) {
      background-color: #f9f9f9;
    }

    tbody tr:hover {
      background-color: #efefef;
    }
    .icons {
      display: flex;
      justify-content: space-between;
      cursor:pointer
    }

    input, select {
      width: 100%;        
      box-sizing: border-box;
    }
  }
  }
}
