@use "./variables.scss" as v;
@use "./mixins.scss" as m;
.home {
  display: flex;
  flex-direction: column;
  @include m.forSize(desktop) {
    margin-right: auto;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .image-item {
    width: 100%;
    height: 562px;

    @include m.forSize(desktop) {
      width: 46%;
      height: 483px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
