// Main Färger
$primary-color: rgb(192, 215, 175); // Varm, mjuk olivgrön (ersätter blå)
$secondary-color: white; // Ren kontrast för ljusa ytor

// Text Färg
$primary-text-color: rgb(60, 80, 45); // Mörk, varmgrön textfärg – mjuk och läsbar
$secondary-text-color: rgb(242, 143, 25); // Orange för highlights, knappar och detaljer

// Fonts
$font-primary: Gotham Round, sans-serif;

// Font Weights
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

// Font storlekar
$h2: 36px;
$h3: 16px;
$h4: 12px;

// Breakpoints
$desktop: 767px;
$mobile: 667px;
