// Main Färger
$primary-color: rgb(175 205 215) ;

// Text Färg
$primary-text-color:  rgb(12 48 124 );
$alt-prim-text-color: rgb(242 143 25) ;

// Fonts
$font-primary: Gotham Round, sans-serif;

// Font Weights
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

//Font storlekar
$font-size-base: 1rem;
$font-size-undertitle: 1.5rem;
$font-size-title: 2rem;

$desktop: 1000px;
$tablet: 768px;
