// Main Färger
$primary-color: 	 #a8d5ba;  // Varm, mjuk olivgrön (ersätter blå)
$secondary-color: white; // Ren kontrast för ljusa ytor

// Text Färg
$primary-text-color:#3d5b43;  // Mörk, varmgrön textfärg – mjuk och läsbar
$secondary-text-color: rgb(242 143 25) ;// Orange för highlights, knappar och detaljer

// Fonts
$font-body:'Playfair Display', serif; ;
$font-heading:'Dancing Script', cursive; ;

// Font Weights
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

// Font storlekar
$h2: 32px;
$h3: 22px;
$h4: 18px;
$p: 14px;

// Breakpoints
$desktop: 1028px;
$mobile: 667px;
