@use "./variables.scss" as v;
@use "./mixins.scss" as m;
@use "./global.scss";
@use "./header/nav";
@use "./header/nav-items";
@use "./home.scss";
@use "./menu/menu.scss";
@use "./menu/menu-items.scss";
@use "./bookings/booking-form.scss";
@use "./bookings/booking-list.scss";


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: v.$primary-color;
}

.layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;


  @include m.forSize(desktop) {
    flex-direction: row;
  }

  .side-nav {
    width: 100%;
    position: fixed;
    z-index: 1000;


    @include m.forSize(desktop) {
      width: 0%;
    }
  }

  main {
    width: 100%;

    @include m.forSize(desktop) {
      width: 55%;
      margin: auto;
    }
  }
}
