@use "./variables.scss" as v;
@use "./mixins.scss" as m;
@use "./header/nav";
@use "./header/hamburger-modal";
@use "./header/nav-items";
@use "./home.scss";
@use "./menu/menu.scss";
@use "./menu/menu-items.scss";
@use "./about.scss";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: v.$font-primary;
  background-color: v.$primary-color;
}

.layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include m.forSize(desktop) {
    flex-direction: row;
  }

  .side-nav {
    width: 100%;

    @include m.forSize(desktop) {
      width: 25%;
    }
  }

  main {
    width: 100%;

    @include m.forSize(desktop) {
      margin: px;
      width: 75%;
    }
  }
}
