@use "../variables" as v;
@use "../mixins" as m;
.nav-items {
  font-family: v.$font-heading; 
  @include m.forSize(desktop) {
    margin: 180px 20px;
    
  }
  ul {
    display: flex;
    justify-content: space-between;
    padding-top:12px;
@include m.forSize(desktop) {
      display: flex;
      flex-direction: column;
      gap: 22px;
      padding-top:0px;
    }

    li {
      list-style: none;
      border-bottom: 1px solid v.$primary-text-color;

      @include m.forSize(desktop) {
        font-size: 1.6rem;
        text-align: right;
      }
  

      a {
        text-decoration: none;
        color: v.$primary-text-color;
      }

      @include m.forSize(desktop) {
        padding: 0px 0px 0px 44px;
   
      }
      a:hover {
        color: v.$secondary-text-color;
      }
    }
    li:hover {
        border-bottom: 1px solid v.$secondary-text-color;
      }
  }
  .nav-items-insta {
    display: none;
    color: v.$primary-text-color;
    cursor: pointer;
    @include m.forSize(desktop) {
      display: block;
      font-size: 38px;
      text-align: center;
      padding-top: 50px;
    }
   
    }
    .nav-items-insta:hover {
      color: v.$secondary-text-color;
  }
}
