@use "../variables" as v;
@use "../mixins" as m;

.nav {
  background-color: v.$primary-color;
  padding: 22px;

  @include m.forSize(desktop) {
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__mobile-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__hamburger-icon {
    font-size: 24px;
    cursor: pointer;
    color: v.$secondary-text-color;

    @include m.forSize(desktop) {
      display: none;
    }
  }

  &__logo {
    cursor: pointer;
    h1 {
      margin: 0;

      a {
        font-family: "Pacifico", cursive;
        font-style: normal;
        font-size: 24px;
        color: v.$secondary-text-color;
        letter-spacing: 7px;
        text-decoration: none;

        @include m.forSize(desktop) {
          font-size: 54px;
          position: absolute;
          top: 78px;
        }
      }
    }
  }

  &__insta {
    font-size: 24px;
    color: v.$primary-text-color;
    @include m.forSize(desktop) {
      display: none;
    }
  }
  &__insta :hover {
    color: v.$secondary-text-color;
  }

  &__menu-items {
    display: none;

    @include m.forSize(desktop) {
      display: block;
    }
  }
  &__hamburger-modal {
    @include m.forSize(desktop) {
      display: none;
    }
  }
}
